/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

section div {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: calc(32.5% - 20px);
    padding: 10px;
    border: 1px #f4f4f4 solid;
    margin-bottom: 20px;
}

.choice-grid img {
    width: 100%;
}

#risultato {
    margin-top: 40px;
    margin: 20px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 18px;
    margin-bottom: 20px;
    background-color: #cecece;
}

.selezionata {
    background-color: #cfe3ff;
}

.notSelezionata {
    background-color: #f4f4f4;
    opacity: 0.6;
}


.nascosta {
    display: none;
}

@media (max-width: 700px) {
    article { 
      font-size: 95%;
    }
    .div-span {
        display: none;
    }
  }

  @media (max-width: 500px) {
      .choice-grid div {
          width: 49%;
      }
  }